.terms {
    display: flex;
    gap: 12px;

    margin-bottom: 1rem;
    width: fit-content;
    cursor: pointer;
}

.terms span {
    font: var(--text-small-normal);
}

.terms a {
    text-decoration: underline;
}