.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 304px;
}

.container > img {
    width: 80px;
    height: 80px;   
    border-radius: 50%;
}

.fullname {
    font: var(--text-large-semibold);
    text-align: center;
}

.jobTitle {
    font: var(--text-medium-normal);
    text-align: center;
}

.description {
    font: var(--text-regular-normal);
    text-align: center;
    margin-top: 1rem;
}