:root {
    /* COLOR STYLES */
    --color-black: #000;
    --color-white: #FFF;
    --color-light-grey: #F4F4F4;

    /* TEXT STYLES */
    --text-heading-h1: 700 3.5rem/1.2 "Roboto", sans-serif;
    --text-heading-h2: 700 3rem/1.2 "Roboto", sans-serif;
    --text-regular-semibold: 600 1rem/1.5 "Roboto", sans-serif;
    --text-regular-normal: 400 1rem/1.5 "Roboto", sans-serif;

    --text-medium-normal: 400 1.125rem/1.5 "Roboto", sans-serif;

    --text-small-normal: 400 0.875rem/1.5 "Roboto", sans-serif;

    --text-large-semibold: 600 1.25rem/1.5 "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}